<!DOCTYPE html>
<html lang="es">
<head>
  <!--Metadatos-->
  <meta charset="UTF-8">
  <meta name="author" content="Desarrolladores: Andres Cardenas y Jeisson Velosa, Base de datos: Miguel Castañeda">
  <meta name="description" content="Registro de votaciones COOPUN">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--Bootstrap-->
  <link rel="stylesheet" type="text/css" href="/dist/css/bootstrap.min.css">
  <!--CSS-->
  <link href="/stylesheets/styles.css" rel="stylesheet">
  <link href="/stylesheets/styleindex.css" rel="stylesheet">
  <!--Titulo-->
  <title>Control de accesos</title>
  <!--Favicon-->
  <link rel="icon" type="image/x-icon" href="/images/favicon_cpun.png">
</head>
</head>
<body>
  <main>
    <section>

    </section>
  </main>
  
  <!-- JavaScript -->
  <script src="/javascripts/asamblea.js"></script>
  <script src="/javascripts/jquery-3.6.3.min.js"></script>
  <script src="/dist/js/bootstrap.min.js"></script>
  <script src="/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>